
/* variables */

:root{

    --main-color:tomato;
    --blue:blue;
    --dark-blue:rgb(14, 2, 58);
    --orange:orange;
    --green-yellow:rgb(168, 224, 11);
    --pink-light:rgb(238, 142, 209);
    --cyan-light:rgba(22, 198, 204, 0.712);
    --white:white;
    --white-dark:rgba(223, 215, 215, 0.548);
    --backdrop-filter-blur: blur(5px);
}

*{

    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;

}

::before ::after{

    box-sizing: border-box;
}

body{

    min-height: 100vh;
    background:linear-gradient(to bottom right, var(--pink-light),var(--orange));
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    /* -webkit-tap-highlight-color: transparent; */
    padding: 5vh;
}


body::before{

    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* z-index: -1;  */
    opacity:0.12;
    background: black ;

}

img{

    max-width: 100%;
    vertical-align: middle;
}
section{

    background: var(--white-dark);

    border: 1px solid var(--white-dark);

    border-radius: 25px;
    min-height: 90vh;
    
}
.main-content{

    max-width: 1200px;
    margin: auto;
    /* background: var(--cyan-light); */
}

.container{

    border-radius: 25px;
    width: 100%;
    padding: 40px;

    /* background: chartreuse; */

}

.row{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* home section */

.home_section{
    display: flex;
    align-items: center;
    opacity: 0.8;
}



.home-image ,.home-intro{
    width: 50%;
    padding: 15px;
    opacity: 1;
}

.home-intro .greet{
    font-size: 20px;
    letter-spacing: 2.5px;
    color: rgba(0, 0, 0, 0.473);
}

.home-intro h2{

    font-size: 48px;
    text-transform: capitalize;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.designation{
	margin-top: 5px;
	font-size: 10px;
	font-weight: 300;
	margin-bottom: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;

	color: rgb(39, 32, 23);
}

.designation-inside:after {
	

	content: "";
	animation: changetext 5s infinite linear;
	font-size: 30px;
	font-weight: 300;

	color: rgba(0, 0, 0, 0.473);
	font-family: 'Stylish', sans-serif;
}
@keyframes changetext {

	0% {
    content: "Software Developer";
  }
  50%{
    content: "Web Developer";
  }
  100% {
    content: "Problem Solver";
  }
  
  }


.home-intro .btn{

    padding: 1rem;
    border-radius: 3rem;
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
    color: rgb(185, 14, 85);
    background: rgb(183, 243, 243); 
    border: 1px solid rgb(183, 243, 243);
    box-shadow: inset 0px 0px 0px #ee118b;
    transition: all 1s ease !important;


    
    
}


.home-intro .btn:hover{

    /* background: rgb(147, 190, 190); */
    color: white;
    box-shadow: inset 200px 0px 0px #e766cb;
    
}
.home_section .img-box{

    max-width: 350px;
    border: 8px solid var(--cyan-light);
    border-radius: 50% ;
    margin: auto;

}

.home_section .img-box img{

    border-radius: 50%;
    max-width: 100%;

}

.hidden{

    display: none !important;
}

.section_title{
    /* background-color: yellow; */
    width: 100%;
    padding: 0 10px;
    text-align: center;
}

.section_title h2{

    font-size: 40px;
    text-transform: capitalize;
    color: rgba(44, 43, 43, 0.822);
}



.about_section .img-box{
    max-width: 350px;
    margin: auto;
    /* border-radius: 5px; */
}

.about_section .img-box img{

    border-radius: 5px;
}
